In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
from sqlalchemy import *
import pudl
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### Connecting to database

In [2]:
#Setting up our workspace
pudl_settings = pudl.workspace.setup.get_defaults()
pudl_settings

{'pudl_in': '/Users/andreaquevedo/Desktop/PUDL Data',
 'data_dir': '/Users/andreaquevedo/Desktop/PUDL Data/data',
 'settings_dir': '/Users/andreaquevedo/Desktop/PUDL Data/settings',
 'pudl_out': '/Users/andreaquevedo/Desktop/PUDL Data',
 'sqlite_dir': '/Users/andreaquevedo/Desktop/PUDL Data/sqlite',
 'parquet_dir': '/Users/andreaquevedo/Desktop/PUDL Data/parquet',
 'datapkg_dir': '/Users/andreaquevedo/Desktop/PUDL Data/datapkg',
 'notebook_dir': '/Users/andreaquevedo/Desktop/PUDL Data/notebook',
 'ferc1_db': 'sqlite:////Users/andreaquevedo/Desktop/PUDL Data/sqlite/ferc1.sqlite',
 'pudl_db': 'sqlite:////Users/andreaquevedo/Desktop/PUDL Data/sqlite/pudl.sqlite'}

In [3]:
#Creating an engine instance for the sqlite pudl databse
pudl_engine = sa.create_engine(pudl_settings["pudl_db"])

In [4]:
#Checking the tables available in the database 
metadata = MetaData()
metadata.reflect(pudl_engine)
metadata.tables.keys()

dict_keys(['boiler_fuel_eia923', 'fuel_type_eia923', 'boiler_generator_assn_eia860', 'generators_entity_eia', 'plants_entity_eia', 'boilers_entity_eia', 'coalmine_eia923', 'energy_source_eia923', 'ferc_accounts', 'ferc_depreciation_lines', 'fuel_ferc1', 'plants_ferc1', 'utilities_ferc1', 'utilities_pudl', 'plants_pudl', 'fuel_receipts_costs_eia923', 'transport_modes_eia923', 'fuel_type_aer_eia923', 'generation_eia923', 'generation_fuel_eia923', 'prime_movers_eia923', 'generators_eia860', 'utilities_entity_eia', 'ownership_eia860', 'plant_in_service_ferc1', 'plants_eia', 'plants_eia860', 'plants_hydro_ferc1', 'plants_pumped_storage_ferc1', 'plants_small_ferc1', 'plants_steam_ferc1', 'purchased_power_ferc1', 'utilities_eia', 'utilities_eia860', 'utility_plant_assn'])

### Selecting data with SQL queries

In [5]:
#Plant monthly fuel cost data
fuel_costs = pd.read_sql(
    """SELECT * FROM fuel_receipts_costs_eia923""", pudl_engine)

fuel_costs.sample(10)

,id,plant_id_eia,report_date,contract_type_code,contract_expiration_date,energy_source_code,fuel_type_code_pudl,fuel_group_code,fuel_group_code_simple,mine_id_pudl,supplier_name,fuel_qty_units,heat_content_mmbtu_per_unit,sulfur_content_pct,ash_content_pct,mercury_content_ppm,fuel_cost_per_mmbtu,primary_transportation_mode_code,secondary_transportation_mode_code,natural_gas_transport_code,natural_gas_delivery_contract_type_code,moisture_content_pct,chlorine_content_ppm
426196,426196,8845,2018-09-01,C,2019-01-01,BIT,coal,coal,coal,645.0,p&n coal company,9507.0,14.546,5.09,42.6,0.92,NaN,TR,None,None,None,5.93,0.0
422841,422841,7212,2018-08-01,S,None,NG,gas,natural_gas,natural_gas,NaN,virginia power services energy,1344.0,1.039,0.00,0.0,0.00,6.472,PL,None,interruptible,interruptible,NaN,NaN
209271,209271,3944,2012-10-01,C,2016-12-01,BIT,coal,coal,coal,481.0,anker,38862.0,24.720,3.00,13.4,NaN,NaN,TR,None,None,None,NaN,NaN
195683,195683,3457,2012-06-01,S,None,NG,gas,natural_gas,natural_gas,NaN,kinder morgan,38.0,1.053,0.00,0.0,0.00,2.428,PL,None,interruptible,None,NaN,NaN
235404,235404,874,2013-07-01,C,2013-09-01,SUB,coal,coal,coal,26.0,peabody coal sales,54111.0,17.310,0.20,4.5,NaN,NaN,RR,None,None,None,NaN,NaN
183328,183328,6137,2012-02-01,C,2012-12-01,BIT,coal,coal,coal,157.0,pattiki,34632.0,23.014,2.73,8.3,NaN,3.615,RR,None,None,None,NaN,NaN
150839,150839,7277,2011-07-01,S,None,NG,gas,natural_gas,natural_gas,NaN,hess corp energy marketing division,4311.0,1.013,0.00,0.0,NaN,4.857,PL,None,firm,None,NaN,NaN
57906,57906,6639,2009-12-01,S,None,PC,coal,petroleum_coke,petroleum_coke,NaN,koch carbon,15689.0,28.340,5.62,0.6,NaN,0.838,RV,None,None,None,NaN,NaN
201199,201199,60,2012-08-01,S,None,DFO,oil,petroleum,oil,NaN,hartland fuel products,926.0,5.754,0.00,0.0,0.00,24.332,TR,None,None,None,NaN,NaN
196711,196711,10416,2012-06-01,S,None,NG,gas,natural_gas,natural_gas,NaN,coral,273280.0,1.016,0.00,0.0,0.00,NaN,PL,None,firm,None,NaN,NaN

In [6]:
fuel_costs.shape

(436174, 23)

In [7]:
fuel_costs.plant_id_eia.nunique()

1690

In [8]:
#Plant monthly generation data
eia923_gen_fuel = pd.read_sql(
    """SELECT * FROM generation_fuel_eia923""", pudl_engine)

eia923_gen_fuel.sample(10)

,id,plant_id_eia,report_date,nuclear_unit_id,fuel_type,fuel_type_code_pudl,fuel_type_code_aer,prime_mover_code,fuel_consumed_units,fuel_consumed_for_electricity_units,fuel_mmbtu_per_unit,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,net_generation_mwh
677320,677321,6246,2014-05-01,NaN,NG,gas,NG,CA,0.0,0.0,0.000,0.0,0.0,23989.887
1354625,1354626,58183,2018-06-01,NaN,NG,gas,NG,ST,83568.0,3223.0,0.975,81479.0,3142.0,214.370
1041638,1041639,57908,2016-03-01,NaN,NG,gas,NG,CT,61882.0,27535.0,1.067,66028.0,29380.0,5429.090
1181937,1181938,56958,2017-10-01,NaN,LFG,gas,MLG,IC,47760.0,47760.0,0.512,24453.0,24453.0,2551.504
467847,467848,55944,2012-04-01,NaN,WND,wind,WND,WT,0.0,0.0,0.000,1795.0,1795.0,188.658
1029165,1029166,56804,2016-10-01,NaN,WND,wind,WND,WT,0.0,0.0,0.000,386913.0,386913.0,41910.000
1187711,1187712,57467,2017-12-01,NaN,WDS,waste,WWW,ST,11267.0,1864.0,10.344,116546.0,19281.0,3146.499
723905,723906,54800,2014-06-01,NaN,NG,gas,NG,GT,27758.0,10388.0,0.985,27342.0,10232.0,1817.448
301220,301221,10125,2011-09-01,NaN,DFO,oil,DFO,IC,11.0,6.0,5.880,65.0,36.0,5.785
491090,491091,58139,2012-03-01,NaN,NG,gas,NG,GT,42097.0,42097.0,1.035,43570.0,43570.0,3346.823

In [9]:
eia923_gen_fuel.shape

(1395852, 14)

In [10]:
eia923_gen_fuel.plant_id_eia.nunique()

9922

In [11]:
#Plant metadata including lat and long
plants_entity_eia = pd.read_sql(
    """SELECT * FROM plants_entity_eia""", pudl_engine)

plants_entity_eia.sample(10)

,plant_id_eia,plant_name_eia,balancing_authority_code,balancing_authority_name,city,county,ferc_cogen_status,ferc_exempt_wholesale_generator,ferc_small_power_producer,grid_voltage_kv,grid_voltage_2_kv,grid_voltage_3_kv,iso_rto_code,latitude,longitude,nerc_region,primary_purpose_naics_id,sector_name,sector_id,state,street_address,zip_code,timezone
11792,62382,GMP Solar/Storage-Ferrisburgh,ISNE,ISO New England Inc.,Ferrisburgh,Addison,False,False,False,12.47,NaN,NaN,None,44.133411,-73.144064,NPCC,22.0,Electric Utility,1.0,VT,10 Greenbush Road,5456.0,America/New_York
690,1123,Anita,MISO,Midcontinent Independent Transmission System O...,Anita,Cass,False,False,False,35.00,NaN,NaN,MISO,NaN,NaN,MRO,22.0,Electric Utility,1.0,IA,828 Main Street,50020.0,US/Central
6411,56793,Elm Creek Wind LLC,MISO,Midcontinent Independent Transmission System O...,Trimont,None,False,False,False,34.50,NaN,NaN,MISO,43.754200,-94.949700,MRO,22.0,IPP Non-CHP,2.0,MN,231 220th Street,56176.0,America/Chicago
6293,56626,K&D Energy LLC,MISO,Midcontinent Independent Transmission System O...,Worthington,Jackson,False,None,True,69.00,NaN,NaN,MISO,43.618100,-95.417200,MRO,22.0,IPP Non-CHP,2.0,MN,32804 780th Street,56187.0,America/Chicago
4016,50700,Lilliwaup Falls Generating,BPAT,Bonneville Power Administration,Lilliwaup,Mason,False,False,None,NaN,7.2,NaN,None,47.470600,-123.115300,WECC,22.0,IPP Non-CHP,2.0,WA,None,98555.0,America/Los_Angeles
2308,6194,Tolk,SWPP,Southwest Power Pool,Muleshoe,Lamb,False,False,False,230.00,NaN,NaN,SPP,34.186494,-102.569990,SPP,22.0,Electric Utility,1.0,TX,9m E. of Muleshoe on Hwy 70,79371.0,America/Chicago
10333,60840,"Goya Foods, Inc- Secaucus Solar",PJM,"PJM Interconnection, LLC",Secaucus,Hudson,False,False,False,0.48,NaN,NaN,None,40.773120,-74.077397,RFC,22.0,IPP Non-CHP,2.0,NJ,100 Seaview Drive,7094.0,America/New_York
9864,60349,"Hill AFB LFG Facility, Bldg #737",PACE,PacifiCorp - East,Hill AFB,Davis,False,False,True,12.47,69.0,138.0,None,41.129020,-111.964147,WECC,928.0,Commercial Non-CHP,4.0,UT,6100 Foulis Rd,84056.0,America/Denver
7046,57445,Sun Farmer I,None,None,Fleetwood,Ashe,False,False,True,7.20,NaN,NaN,None,NaN,NaN,SERC,22.0,None,2.0,NC,240 Hidden Pastures Rd,29626.0,US/Eastern
4229,52057,Herkimer,NYIS,New York Independent System Operator,Herkimer,Herkimer,False,False,True,46.30,NaN,NaN,NYISO,43.033577,-74.983391,NPCC,22.0,IPP Non-CHP,2.0,NY,3142 St Rd 28 N,13350.0,America/New_York

In [12]:
plants_entity_eia.shape

(12375, 23)

In [13]:
plants_entity_eia.plant_id_eia.nunique()

12375

### Data Wrangling

**EIA Monthly Generation Data**

In [14]:
#Dropping unnecessary columns 
eia923_gen_fuel.drop(['id', 'prime_mover_code', 'fuel_consumed_units', 'fuel_consumed_for_electricity_units',
                     'fuel_mmbtu_per_unit', 'fuel_type', 'fuel_type_code_aer', 'nuclear_unit_id'],
                     axis=1, inplace= True)

In [15]:
#Checking column types 
eia923_gen_fuel.dtypes

plant_id_eia                             int64
report_date                             object
fuel_type_code_pudl                     object
fuel_consumed_mmbtu                    float64
fuel_consumed_for_electricity_mmbtu    float64
net_generation_mwh                     float64
dtype: object

In [16]:
#Converting report_date to datetime format and creating year and month column
eia923_gen_fuel['report_date']= pd.to_datetime(eia923_gen_fuel['report_date']) 
eia923_gen_fuel['year'] = pd.DatetimeIndex(eia923_gen_fuel['report_date']).year
eia923_gen_fuel['month'] = pd.DatetimeIndex(eia923_gen_fuel['report_date']).month
eia923_gen_fuel.dtypes

plant_id_eia                                    int64
report_date                            datetime64[ns]
fuel_type_code_pudl                            object
fuel_consumed_mmbtu                           float64
fuel_consumed_for_electricity_mmbtu           float64
net_generation_mwh                            float64
year                                            int64
month                                           int64
dtype: object

In [17]:
#Sorting dataframes by plant_id and report date 
eia923_gen_fuel= eia923_gen_fuel.sort_values(by=['plant_id_eia', 'report_date'])

Yearly generation by fuel

In [18]:
#Group by year,plant_id, and fuel_type_code_pudl and aggregating fuel consumption and generation
eia923_fuel_year= eia923_gen_fuel.groupby(['year', 'plant_id_eia', 'fuel_type_code_pudl'],
                        as_index=False).agg({'fuel_consumed_mmbtu': 'sum',
                                             'fuel_consumed_for_electricity_mmbtu': 'sum',
                                             'net_generation_mwh': 'sum'})

#Checking first 20 rows
eia923_fuel_year.head(20)

,year,plant_id_eia,fuel_type_code_pudl,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,net_generation_mwh
0,2009,2,hydro,2758750.0,2758750.0,282659.000
1,2009,3,coal,79317545.0,79317545.0,7947703.984
2,2009,3,gas,43164660.0,43164660.0,6139198.016
3,2009,3,oil,0.0,0.0,0.000
4,2009,4,hydro,8427915.0,8427915.0,863516.000
5,2009,7,coal,3264270.0,3264270.0,218328.650
6,2009,7,gas,588095.0,588095.0,42765.680
7,2009,7,oil,2734.0,2734.0,185.848
8,2009,7,waste,31166.0,31166.0,2049.822
9,2009,8,coal,52599048.0,52599048.0,5198072.952
10,2009,8,oil,98592.0,98592.0,9381.048
11,2009,9,gas,225529.0,225529.0,17415.000
12,2009,9,oil,0.0,0.0,0.000
13,2009,10,coal,23523960.0,23523960.0,2349928.164
14,2009,10,gas,1824272.0,1824272.0,139023.171
15,2009,10,oil,35501.0,35501.0,2572.665
16,2009,11,hydro,2609220.0,2609220.0,267338.000
17,2009,12,hydro,2113616.0,2113616.0,216559.000
18,2009,13,hydro,4169112.0,4169112.0,427163.000
19,2009,14,hydro,4996231.0,4996231.0,511909.000

In [19]:
#checking only one plant (as example)
eia923_fuel_year.loc[eia923_fuel_year['plant_id_eia']==7]

,year,plant_id_eia,fuel_type_code_pudl,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,net_generation_mwh
5,2009,7,coal,3264270.0,3264270.0,218328.650
6,2009,7,gas,588095.0,588095.0,42765.680
7,2009,7,oil,2734.0,2734.0,185.848
8,2009,7,waste,31166.0,31166.0,2049.822
7778,2010,7,coal,3618555.0,3618555.0,217945.182
7779,2010,7,gas,171615.0,171615.0,10524.610
7780,2010,7,oil,0.0,0.0,0.000
7781,2010,7,waste,20056.0,20056.0,1190.208
15666,2011,7,coal,3226696.0,3226696.0,202801.917
15667,2011,7,gas,386545.0,386545.0,26184.340
15668,2011,7,oil,0.0,0.0,0.000
15669,2011,7,waste,19627.0,19627.0,1213.743
23794,2012,7,coal,666067.0,666067.0,48070.290
23795,2012,7,gas,2419390.0,2419390.0,173398.330
23796,2012,7,oil,0.0,0.0,0.000
23797,2012,7,waste,8676.0,8676.0,631.380
32389,2013,7,coal,1261795.0,1261795.0,82694.496
32390,2013,7,gas,1479690.0,1479690.0,99309.504
41408,2014,7,coal,2532728.0,2008156.0,155388.239
41409,2014,7,gas,1021576.0,773771.0,60073.850
41410,2014,7,waste,20040.0,16641.0,1287.911
50814,2015,7,coal,207246.0,194345.0,15644.693
50815,2015,7,gas,2704266.0,2515307.0,199010.307
50816,2015,7,waste,0.0,0.0,0.000
60543,2016,7,coal,0.0,0.0,0.000
60544,2016,7,gas,2612250.0,2207718.0,190978.000
60545,2016,7,waste,0.0,0.0,0.000
70920,2017,7,coal,0.0,0.0,0.000
70921,2017,7,gas,2582319.0,2224437.0,193273.000
81808,2018,7,gas,2583775.0,2195375.0,188877.000

In [20]:
generation_mwh_fuel_year= pd.pivot_table(eia923_fuel_year, values = 'net_generation_mwh', 
                     index=['plant_id_eia', 'year'],
                     columns = ['fuel_type_code_pudl']).reset_index()

In [21]:
generation_mwh_fuel_year['primary_fuel'] = generation_mwh_fuel_year[generation_mwh_fuel_year.columns.difference(['plant_id_eia',
                                                                                                  'year'])].idxmax(axis=1)

In [22]:
col_list= list(generation_mwh_fuel_year)
col_list.remove('plant_id_eia')
col_list.remove('year')
col_list.remove('primary_fuel')
print(col_list)

['coal', 'gas', 'hydro', 'nuclear', 'oil', 'other', 'solar', 'waste', 'wind']

In [23]:
generation_mwh_fuel_year['total_net_generation_mwh'] = generation_mwh_fuel_year[col_list].sum(axis=1)

In [24]:
generation_mwh_fuel_year.rename(columns={'coal': "coal_generation_mwh", 'gas': "gas_generation_mwh",
                              'hydro': "hydro_generation_mwh", 'nuclear': "nuclear_generation_mwh",
                              'oil': "oil_generation_mwh", 'other': "other_generation_mwh", 
                              'solar': "solar_generation_mwh", 'waste': 'waste_generation_mwh',
                              'wind': "wind_generation_mwh"}, inplace= True)

In [25]:
generation_mwh_fuel_year.head()

fuel_type_code_pudl,plant_id_eia,year,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,primary_fuel,total_net_generation_mwh
0,2,2009,NaN,NaN,282659.0,NaN,NaN,NaN,NaN,NaN,NaN,hydro,282659.0
1,2,2010,NaN,NaN,100981.0,NaN,NaN,NaN,NaN,NaN,NaN,hydro,100981.0
2,2,2011,NaN,NaN,129035.0,NaN,NaN,NaN,NaN,NaN,NaN,hydro,129035.0
3,2,2012,NaN,NaN,159180.0,NaN,NaN,NaN,NaN,NaN,NaN,hydro,159180.0
4,2,2013,NaN,NaN,211342.0,NaN,NaN,NaN,NaN,NaN,NaN,hydro,211342.0

In [26]:
#checking only one plant (as example)
generation_mwh_fuel_year.loc[generation_mwh_fuel_year['plant_id_eia']==7]

fuel_type_code_pudl,plant_id_eia,year,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,primary_fuel,total_net_generation_mwh
30,7,2009,218328.650,42765.680,NaN,NaN,185.848,NaN,NaN,2049.822,NaN,coal,263330.0
31,7,2010,217945.182,10524.610,NaN,NaN,0.000,NaN,NaN,1190.208,NaN,coal,229660.0
32,7,2011,202801.917,26184.340,NaN,NaN,0.000,NaN,NaN,1213.743,NaN,coal,230200.0
33,7,2012,48070.290,173398.330,NaN,NaN,0.000,NaN,NaN,631.380,NaN,gas,222100.0
34,7,2013,82694.496,99309.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,182004.0
35,7,2014,155388.239,60073.850,NaN,NaN,NaN,NaN,NaN,1287.911,NaN,coal,216750.0
36,7,2015,15644.693,199010.307,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,214655.0
37,7,2016,0.000,190978.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,190978.0
38,7,2017,0.000,193273.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,193273.0
39,7,2018,NaN,188877.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,188877.0

Monthly generation by fuel

In [27]:
#Group by year,month, plant_id, and fuel_type_code_pudl and aggregating fuel consumption and generation
eia923_fuel_month= eia923_gen_fuel.groupby(['year', 'month', 'plant_id_eia', 'fuel_type_code_pudl'],
                        as_index=False).agg({'fuel_consumed_mmbtu': 'sum',
                                             'fuel_consumed_for_electricity_mmbtu': 'sum',
                                             'net_generation_mwh': 'sum'})

#Checking first 20 rows
eia923_fuel_month.head(20)

,year,month,plant_id_eia,fuel_type_code_pudl,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,net_generation_mwh
0,2009,1,2,hydro,282335.0,282335.0,28927.787
1,2009,1,3,coal,8642439.0,8642439.0,875865.983
2,2009,1,3,gas,2001050.0,2001050.0,286801.017
3,2009,1,3,oil,0.0,0.0,0.000
4,2009,1,4,hydro,1010219.0,1010219.0,103506.000
5,2009,1,7,coal,560127.0,560127.0,39975.564
6,2009,1,7,gas,15439.0,15439.0,1101.871
7,2009,1,7,oil,1654.0,1654.0,118.059
8,2009,1,7,waste,1100.0,1100.0,78.506
9,2009,1,8,coal,4949654.0,4949654.0,495311.361
10,2009,1,8,oil,2655.0,2655.0,265.639
11,2009,1,9,gas,14752.0,14752.0,1139.184
12,2009,1,9,oil,0.0,0.0,0.000
13,2009,1,10,coal,1840902.0,1840902.0,179786.490
14,2009,1,10,gas,176678.0,176678.0,12948.510
15,2009,1,10,oil,0.0,0.0,0.000
16,2009,1,11,hydro,267032.0,267032.0,27359.809
17,2009,1,12,hydro,216311.0,216311.0,22163.004
18,2009,1,13,hydro,426674.0,426674.0,43716.563
19,2009,1,14,hydro,555812.0,555812.0,56948.000

In [28]:
#checking only one plant (as example)
eia923_fuel_month.loc[eia923_fuel_month['plant_id_eia']==7]

,year,month,plant_id_eia,fuel_type_code_pudl,fuel_consumed_mmbtu,fuel_consumed_for_electricity_mmbtu,net_generation_mwh
5,2009,1,7,coal,560127.0,560127.0,39975.564
6,2009,1,7,gas,15439.0,15439.0,1101.871
7,2009,1,7,oil,1654.0,1654.0,118.059
8,2009,1,7,waste,1100.0,1100.0,78.506
7778,2009,2,7,coal,328824.0,328824.0,20852.106
7779,2009,2,7,gas,62.0,62.0,3.919
7780,2009,2,7,oil,0.0,0.0,0.000
7781,2009,2,7,waste,520.0,520.0,32.975
15551,2009,3,7,coal,319993.0,319993.0,21380.267
15552,2009,3,7,gas,28134.0,28134.0,1879.733
15553,2009,3,7,oil,0.0,0.0,0.000
15554,2009,3,7,waste,0.0,0.0,0.000
23324,2009,4,7,coal,73545.0,73545.0,5891.763
23325,2009,4,7,gas,175398.0,175398.0,14051.237
23326,2009,4,7,oil,0.0,0.0,0.000
23327,2009,4,7,waste,0.0,0.0,0.000
31097,2009,5,7,coal,194158.0,194158.0,14579.632
31098,2009,5,7,gas,127188.0,127188.0,9550.742
31099,2009,5,7,oil,0.0,0.0,0.000
31100,2009,5,7,waste,874.0,874.0,65.626
38870,2009,6,7,coal,298567.0,298567.0,20790.000
38871,2009,6,7,gas,368.0,368.0,25.645
38872,2009,6,7,oil,0.0,0.0,0.000
38873,2009,6,7,waste,5075.0,5075.0,353.355
46643,2009,7,7,coal,221044.0,221044.0,16577.517
46644,2009,7,7,gas,83742.0,83742.0,6280.318
46645,2009,7,7,oil,0.0,0.0,0.000
46646,2009,7,7,waste,3189.0,3189.0,239.165
54416,2009,8,7,coal,319349.0,319349.0,22010.843
54417,2009,8,7,gas,17820.0,17820.0,1228.249
54418,2009,8,7,oil,0.0,0.0,0.000
54419,2009,8,7,waste,4946.0,4946.0,340.908
62189,2009,9,7,coal,265778.0,265778.0,16678.048
62190,2009,9,7,gas,23054.0,23054.0,1446.678
62191,2009,9,7,oil,1080.0,1080.0,67.789
62192,2009,9,7,waste,5123.0,5123.0,321.485
69962,2009,10,7,coal,163278.0,163278.0,10190.522
69963,2009,10,7,gas,100122.0,100122.0,6248.847
69964,2009,10,7,oil,0.0,0.0,0.000
69965,2009,10,7,waste,5634.0,5634.0,351.631
77735,2009,11,7,coal,241032.0,241032.0,13631.744
77736,2009,11,7,gas,15018.0,15018.0,849.369
77737,2009,11,7,oil,0.0,0.0,0.000
77738,2009,11,7,waste,2633.0,2633.0,148.887
85508,2009,12,7,coal,278575.0,278575.0,15770.644
85509,2009,12,7,gas,1750.0,1750.0,99.072
85510,2009,12,7,oil,0.0,0.0,0.000
85511,2009,12,7,waste,2072.0,2072.0,117.284
93281,2010,1,7,coal,304039.0,304039.0,17062.656
93282,2010,1,7,gas,13569.0,13569.0,761.488
93283,2010,1,7,oil,0.0,0.0,0.000
93284,2010,1,7,waste,2439.0,2439.0,136.856
101169,2010,2,7,coal,296806.0,296806.0,15150.993
101170,2010,2,7,gas,7106.0,7106.0,362.747
101171,2010,2,7,oil,0.0,0.0,0.000
101172,2010,2,7,waste,2258.0,2258.0,115.260
109057,2010,3,7,coal,223862.0,223862.0,14411.821
109058,2010,3,7,gas,48008.0,48008.0,3090.658
109059,2010,3,7,oil,0.0,0.0,0.000
109060,2010,3,7,waste,2214.0,2214.0,142.521
116945,2010,4,7,coal,234848.0,234848.0,13394.750
116946,2010,4,7,gas,1573.0,1573.0,89.714
116947,2010,4,7,oil,0.0,0.0,0.000
116948,2010,4,7,waste,2622.0,2622.0,149.536
124833,2010,5,7,coal,239088.0,239088.0,13519.113
124834,2010,5,7,gas,38.0,38.0,2.149
124835,2010,5,7,oil,0.0,0.0,0.000
124836,2010,5,7,waste,1888.0,1888.0,106.738
132721,2010,6,7,coal,329557.0,329557.0,20648.908
132722,2010,6,7,gas,3796.0,3796.0,237.837
132723,2010,6,7,oil,0.0,0.0,0.000
132724,2010,6,7,waste,1760.0,1760.0,110.255
140609,2010,7,7,coal,404268.0,404268.0,27366.266
140610,2010,7,7,gas,4234.0,4234.0,286.631
140611,2010,7,7,oil,0.0,0.0,0.000
140612,2010,7,7,waste,179.0,179.0,12.103
148497,2010,8,7,coal,524057.0,524057.0,33116.862
148498,2010,8,7,gas,314.0,314.0,19.850
148499,2010,8,7,oil,0.0,0.0,0.000
148500,2010,8,7,waste,2489.0,2489.0,157.288
156385,2010,9,7,coal,205418.0,205418.0,13143.791
156386,2010,9,7,gas,7001.0,7001.0,447.935
156387,2010,9,7,oil,0.0,0.0,0.000
156388,2010,9,7,waste,1364.0,1364.0,87.274
164273,2010,10,7,coal,310026.0,310026.0,16691.796
164274,2010,10,7,gas,1046.0,1046.0,56.339
164275,2010,10,7,oil,0.0,0.0,0.000
164276,2010,10,7,waste,239.0,239.0,12.865
172161,2010,11,7,coal,328684.0,328684.0,20205.288
172162,2010,11,7,gas,15463.0,15463.0,950.591
172163,2010,11,7,oil,0.0,0.0,0.000
172164,2010,11,7,waste,1922.0,1922.0,118.121
180049,2010,12,7,coal,217902.0,217902.0,13232.938
180050,2010,12,7,gas,69467.0,69467.0,4218.671
180051,2010,12,7,oil,0.0,0.0,0.000
180052,2010,12,7,waste,682.0,682.0,41.391
187937,2011,1,7,coal,288275.0,288275.0,20224.441
187938,2011,1,7,gas,117687.0,117687.0,8256.559
187939,2011,1,7,oil,0.0,0.0,0.000
187940,2011,1,7,waste,0.0,0.0,0.000
196066,2011,2,7,coal,217106.0,217106.0,12078.314
196067,2011,2,7,gas,18257.0,18257.0,1015.686
196068,2011,2,7,oil,0.0,0.0,0.000
196069,2011,2,7,waste,0.0,0.0,0.000
204195,2011,3,7,coal,313798.0,313798.0,18817.249
204196,2011,3,7,gas,163.0,163.0,9.751
204197,2011,3,7,oil,0.0,0.0,0.000
204198,2011,3,7,waste,0.0,0.0,0.000
212324,2011,4,7,coal,224845.0,224845.0,13206.369
212325,2011,4,7,gas,16815.0,16815.0,987.631
212326,2011,4,7,oil,0.0,0.0,0.000
212327,2011,4,7,waste,0.0,0.0,0.000
220453,2011,5,7,coal,333198.0,333198.0,21678.079
220454,2011,5,7,gas,445.0,445.0,28.921
220455,2011,5,7,oil,0.0,0.0,0.000
220456,2011,5,7,waste,0.0,0.0,0.000
228582,2011,6,7,coal,348547.0,348547.0,22176.694
228583,2011,6,7,gas,21898.0,21898.0,1393.306
228584,2011,6,7,oil,0.0,0.0,0.000
228585,2011,6,7,waste,0.0,0.0,0.000
236711,2011,7,7,coal,315253.0,315253.0,18697.767
236712,2011,7,7,gas,1054.0,1054.0,62.539
236713,2011,7,7,oil,0.0,0.0,0.000
236714,2011,7,7,waste,3181.0,3181.0,188.694
244840,2011,8,7,coal,371069.0,371069.0,25802.039
244841,2011,8,7,gas,20382.0,20382.0,1417.234
244842,2011,8,7,oil,0.0,0.0,0.000
244843,2011,8,7,waste,4210.0,4210.0,292.727
252969,2011,9,7,coal,254308.0,254308.0,15297.321
252970,2011,9,7,gas,1184.0,1184.0,71.214
252971,2011,9,7,oil,0.0,0.0,0.000
252972,2011,9,7,waste,3116.0,3116.0,187.465
261098,2011,10,7,coal,232568.0,232568.0,13832.043
261099,2011,10,7,gas,3008.0,3008.0,178.894
261100,2011,10,7,oil,0.0,0.0,0.000
261101,2011,10,7,waste,5718.0,5718.0,340.063
269227,2011,11,7,coal,201780.0,201780.0,12145.886
269228,2011,11,7,gas,27516.0,27516.0,1656.320
269229,2011,11,7,oil,0.0,0.0,0.000
269230,2011,11,7,waste,3402.0,3402.0,204.794
277356,2011,12,7,coal,125949.0,125949.0,8845.715
277357,2011,12,7,gas,158136.0,158136.0,11106.285
277358,2011,12,7,oil,0.0,0.0,0.000
277359,2011,12,7,waste,0.0,0.0,0.000
285484,2012,1,7,coal,0.0,0.0,0.000
285485,2012,1,7,gas,235164.0,235164.0,16219.000
285486,2012,1,7,oil,0.0,0.0,0.000
285487,2012,1,7,waste,0.0,0.0,0.000
294079,2012,2,7,coal,0.0,0.0,0.000
294080,2012,2,7,gas,166021.0,166021.0,11464.000
294081,2012,2,7,oil,0.0,0.0,0.000
294082,2012,2,7,waste,0.0,0.0,0.000
302674,2012,3,7,coal,30311.0,30311.0,2156.936
302675,2012,3,7,gas,183267.0,183267.0,13041.064
302676,2012,3,7,oil,0.0,0.0,0.000
302677,2012,3,7,waste,0.0,0.0,0.000
311269,2012,4,7,coal,41614.0,41614.0,3054.977
311270,2012,4,7,gas,185951.0,185951.0,13651.023
311271,2012,4,7,oil,0.0,0.0,0.000
311272,2012,4,7,waste,0.0,0.0,0.000
319864,2012,5,7,coal,74.0,74.0,5.269
319865,2012,5,7,gas,272090.0,272090.0,19411.731
319866,2012,5,7,oil,0.0,0.0,0.000
319867,2012,5,7,waste,0.0,0.0,0.000
328459,2012,6,7,coal,0.0,0.0,0.000
328460,2012,6,7,gas,210332.0,210332.0,14631.000
328461,2012,6,7,oil,0.0,0.0,0.000
328462,2012,6,7,waste,0.0,0.0,0.000
337054,2012,7,7,coal,0.0,0.0,0.000
337055,2012,7,7,gas,254710.0,254710.0,17963.000
337056,2012,7,7,oil,0.0,0.0,0.000
337057,2012,7,7,waste,0.0,0.0,0.000
345649,2012,8,7,coal,145040.0,145040.0,10555.067
345650,2012,8,7,gas,164820.0,164820.0,11994.553
345651,2012,8,7,oil,0.0,0.0,0.000
345652,2012,8,7,waste,8676.0,8676.0,631.380
354244,2012,9,7,coal,370534.0,370534.0,25709.665
354245,2012,9,7,gas,126573.0,126573.0,8782.335
354246,2012,9,7,oil,0.0,0.0,0.000
354247,2012,9,7,waste,0.0,0.0,0.000
362839,2012,10,7,coal,78494.0,78494.0,6588.376
362840,2012,10,7,gas,170390.0,170390.0,14301.624
362841,2012,10,7,oil,0.0,0.0,0.000
362842,2012,10,7,waste,0.0,0.0,0.000
371434,2012,11,7,coal,0.0,0.0,0.000
371435,2012,11,7,gas,272755.0,272755.0,19649.000
371436,2012,11,7,oil,0.0,0.0,0.000
371437,2012,11,7,waste,0.0,0.0,0.000
380029,2012,12,7,coal,0.0,0.0,0.000
380030,2012,12,7,gas,177317.0,177317.0,12290.000
380031,2012,12,7,oil,0.0,0.0,0.000
380032,2012,12,7,waste,0.0,0.0,0.000
388624,2013,1,7,coal,12850.0,12850.0,878.537
388625,2013,1,7,gas,176365.0,176365.0,12057.463
397643,2013,2,7,coal,0.0,0.0,0.000
397644,2013,2,7,gas,169757.0,169757.0,11648.000
406662,2013,3,7,coal,0.0,0.0,0.000
406663,2013,3,7,gas,205346.0,205346.0,13643.000
415681,2013,4,7,coal,29144.0,29144.0,1872.188
415682,2013,4,7,gas,189613.0,189613.0,12180.812
424700,2013,5,7,coal,248949.0,248949.0,15793.435
424701,2013,5,7,gas,41008.0,41008.0,2601.565
433719,2013,6,7,coal,296436.0,296436.0,20750.761
433720,2013,6,7,gas,4903.0,4903.0,343.239
442738,2013,7,7,coal,230180.0,230180.0,14897.614
442739,2013,7,7,gas,5707.0,5707.0,369.386
451757,2013,8,7,coal,190609.0,190609.0,12350.664
451758,2013,8,7,gas,41073.0,41073.0,2661.336
460776,2013,9,7,coal,50860.0,50860.0,3600.114
460777,2013,9,7,gas,181563.0,181563.0,12851.886
469795,2013,10,7,coal,1305.0,1305.0,90.982
469796,2013,10,7,gas,196441.0,196441.0,13698.018
478814,2013,11,7,coal,26695.0,26695.0,1768.921
478815,2013,11,7,gas,170002.0,170002.0,11265.079
487833,2013,12,7,coal,174767.0,174767.0,10691.280
487834,2013,12,7,gas,97912.0,97912.0,5989.720
496852,2014,1,7,coal,378235.0,290616.0,22537.100
496853,2014,1,7,gas,37390.0,28728.0,2227.852
496854,2014,1,7,waste,1209.0,929.0,72.048
506258,2014,2,7,coal,235032.0,161087.0,11984.381
506259,2014,2,7,gas,2735.0,1875.0,139.477
506260,2014,2,7,waste,1670.0,1144.0,85.142
515664,2014,3,7,coal,254100.0,183445.0,13933.427
515665,2014,3,7,gas,32193.0,23241.0,1765.285
515666,2014,3,7,waste,206.0,149.0,11.288
525070,2014,4,7,coal,260101.0,224096.0,17396.971
525071,2014,4,7,gas,5352.0,4611.0,357.950
525072,2014,4,7,waste,3260.0,2809.0,218.079
534476,2014,5,7,coal,278322.0,236437.0,18432.939
534477,2014,5,7,gas,3760.0,3194.0,249.038
534478,2014,5,7,waste,5013.0,4259.0,332.023
543882,2014,6,7,coal,412745.0,347294.0,27489.774
543883,2014,6,7,gas,7675.0,6458.0,511.193
543884,2014,6,7,waste,1127.0,948.0,75.033
553288,2014,7,7,coal,188684.0,160657.0,12288.388
553289,2014,7,7,gas,12402.0,10560.0,807.720
553290,2014,7,7,waste,3269.0,2783.0,212.892
562694,2014,8,7,coal,255407.0,215716.0,16768.943
562695,2014,8,7,gas,22460.0,18970.0,1474.651
562696,2014,8,7,waste,4286.0,3620.0,281.406
572100,2014,9,7,coal,0.0,0.0,0.000
572101,2014,9,7,gas,251029.0,185920.0,14339.000
572102,2014,9,7,waste,0.0,0.0,0.000
581506,2014,10,7,coal,0.0,0.0,0.000
581507,2014,10,7,gas,276096.0,208177.0,16225.000
581508,2014,10,7,waste,0.0,0.0,0.000
590912,2014,11,7,coal,218215.0,147721.0,11340.093
590913,2014,11,7,gas,98598.0,66746.0,5123.907
590914,2014,11,7,waste,0.0,0.0,0.000
600318,2014,12,7,coal,51887.0,41087.0,3216.223
600319,2014,12,7,gas,271886.0,215291.0,16852.777
600320,2014,12,7,waste,0.0,0.0,0.000
609724,2015,1,7,coal,0.0,0.0,0.000
609725,2015,1,7,gas,217666.0,200546.0,15391.000
609726,2015,1,7,waste,0.0,0.0,0.000
619453,2015,2,7,coal,152263.0,139362.0,11046.791
619454,2015,2,7,gas,200193.0,183231.0,14524.209
619455,2015,2,7,waste,0.0,0.0,0.000
629182,2015,3,7,coal,54983.0,54983.0,4597.902
629183,2015,3,7,gas,238485.0,238485.0,19943.098
629184,2015,3,7,waste,0.0,0.0,0.000
638911,2015,4,7,coal,0.0,0.0,0.000
638912,2015,4,7,gas,215281.0,202855.0,16002.000
638913,2015,4,7,waste,0.0,0.0,0.000
648640,2015,5,7,coal,0.0,0.0,0.000
648641,2015,5,7,gas,229999.0,210930.0,16471.000
648642,2015,5,7,waste,0.0,0.0,0.000
658369,2015,6,7,coal,0.0,0.0,0.000
658370,2015,6,7,gas,241734.0,222462.0,17582.000
658371,2015,6,7,waste,0.0,0.0,0.000
668098,2015,7,7,coal,0.0,0.0,0.000
668099,2015,7,7,gas,215979.0,196872.0,15406.000
668100,2015,7,7,waste,0.0,0.0,0.000
677827,2015,8,7,coal,0.0,0.0,0.000
677828,2015,8,7,gas,230023.0,208473.0,16418.000
677829,2015,8,7,waste,0.0,0.0,0.000
687556,2015,9,7,coal,0.0,0.0,0.000
687557,2015,9,7,gas,258310.0,235144.0,18671.000
687558,2015,9,7,waste,0.0,0.0,0.000
697285,2015,10,7,coal,0.0,0.0,0.000
697286,2015,10,7,gas,235258.0,217049.0,17173.000
697287,2015,10,7,waste,0.0,0.0,0.000
707014,2015,11,7,coal,0.0,0.0,0.000
707015,2015,11,7,gas,219449.0,208996.0,16576.000
707016,2015,11,7,waste,0.0,0.0,0.000
716743,2015,12,7,coal,0.0,0.0,0.000
716744,2015,12,7,gas,201889.0,190264.0,14853.000
716745,2015,12,7,waste,0.0,0.0,0.000
726472,2016,1,7,coal,0.0,0.0,0.000
726473,2016,1,7,gas,194376.0,168005.0,14290.000
726474,2016,1,7,waste,0.0,0.0,0.000
736849,2016,2,7,coal,0.0,0.0,0.000
736850,2016,2,7,gas,170159.0,146881.0,12465.000
736851,2016,2,7,waste,0.0,0.0,0.000
747226,2016,3,7,coal,0.0,0.0,0.000
747227,2016,3,7,gas,197933.0,171272.0,14804.000
747228,2016,3,7,waste,0.0,0.0,0.000
757603,2016,4,7,coal,0.0,0.0,0.000
757604,2016,4,7,gas,186145.0,159299.0,13743.000
757605,2016,4,7,waste,0.0,0.0,0.000
767980,2016,5,7,coal,0.0,0.0,0.000
767981,2016,5,7,gas,268179.0,224840.0,19686.000
767982,2016,5,7,waste,0.0,0.0,0.000
778357,2016,6,7,coal,0.0,0.0,0.000
778358,2016,6,7,gas,259492.0,214139.0,18706.000
778359,2016,6,7,waste,0.0,0.0,0.000
788734,2016,7,7,coal,0.0,0.0,0.000
788735,2016,7,7,gas,253219.0,207036.0,18001.000
788736,2016,7,7,waste,0.0,0.0,0.000
799111,2016,8,7,coal,0.0,0.0,0.000
799112,2016,8,7,gas,220183.0,182449.0,15831.000
799113,2016,8,7,waste,0.0,0.0,0.000
809488,2016,9,7,coal,0.0,0.0,0.000
809489,2016,9,7,gas,248119.0,204668.0,17836.000
809490,2016,9,7,waste,0.0,0.0,0.000
819865,2016,10,7,coal,0.0,0.0,0.000
819866,2016,10,7,gas,212847.0,178623.0,15430.000
819867,2016,10,7,waste,0.0,0.0,0.000
830242,2016,11,7,coal,0.0,0.0,0.000
830243,2016,11,7,gas,198069.0,171107.0,14740.000
830244,2016,11,7,waste,0.0,0.0,0.000
840619,2016,12,7,coal,0.0,0.0,0.000
840620,2016,12,7,gas,203529.0,179399.0,15446.000
840621,2016,12,7,waste,0.0,0.0,0.000
850996,2017,1,7,coal,0.0,0.0,0.000
850997,2017,1,7,gas,180190.0,159868.0,13663.000
861884,2017,2,7,coal,0.0,0.0,0.000
861885,2017,2,7,gas,182477.0,161853.0,14303.000
872772,2017,3,7,coal,0.0,0.0,0.000
872773,2017,3,7,gas,280112.0,245798.0,21736.000
883660,2017,4,7,coal,0.0,0.0,0.000
883661,2017,4,7,gas,234938.0,204255.0,17929.000
894548,2017,5,7,coal,0.0,0.0,0.000
894549,2017,5,7,gas,207480.0,179171.0,15656.000
905436,2017,6,7,coal,0.0,0.0,0.000
905437,2017,6,7,gas,203586.0,173361.0,15054.000
916324,2017,7,7,coal,0.0,0.0,0.000
916325,2017,7,7,gas,171093.0,145351.0,12479.000
927212,2017,8,7,coal,0.0,0.0,0.000
927213,2017,8,7,gas,333515.0,274097.0,23994.000
938100,2017,9,7,coal,0.0,0.0,0.000
938101,2017,9,7,gas,187360.0,158834.0,13700.000
948988,2017,10,7,coal,0.0,0.0,0.000
948989,2017,10,7,gas,252899.0,214294.0,18633.000
959876,2017,11,7,coal,0.0,0.0,0.000
959877,2017,11,7,gas,157133.0,139964.0,11861.000
970764,2017,12,7,coal,0.0,0.0,0.000
970765,2017,12,7,gas,191536.0,167591.0,14265.000
981652,2018,1,7,gas,197131.0,172058.0,14592.000
993066,2018,2,7,gas,175521.0,154088.0,13210.000
1004480,2018,3,7,gas,209399.0,177548.0,15185.000
1015894,2018,4,7,gas,397884.0,343475.0,30310.000
1027308,2018,5,7,gas,198975.0,169876.0,14592.000
1038722,2018,6,7,gas,197512.0,165296.0,14203.000
1050136,2018,7,7,gas,213007.0,176545.0,15211.000
1061550,2018,8,7,gas,205848.0,171117.0,14698.000
1072964,2018,9,7,gas,203614.0,167509.0,14423.000
1084378,2018,10,7,gas,202607.0,171686.0,14775.000
1095792,2018,11,7,gas,165722.0,141939.0,11986.000
1107206,2018,12,7,gas,216555.0,184238.0,15692.000

In [29]:
generation_mwh_fuel_month= pd.pivot_table(eia923_fuel_month, values = 'net_generation_mwh', 
                     index=['plant_id_eia', 'year', 'month'],
                     columns = ['fuel_type_code_pudl']).reset_index()

In [30]:
generation_mwh_fuel_month['primary_fuel'] = generation_mwh_fuel_month[generation_mwh_fuel_month.columns.difference(['plant_id_eia',
                                                                                                                    'year',
                                                                                                                    'month'])].idxmax(axis=1)

In [31]:
col_list= list(generation_mwh_fuel_month)
col_list.remove('plant_id_eia')
col_list.remove('year')
col_list.remove('month')
col_list.remove('primary_fuel')
print(col_list)

['coal', 'gas', 'hydro', 'nuclear', 'oil', 'other', 'solar', 'waste', 'wind']

In [32]:
generation_mwh_fuel_month['total_net_generation_mwh'] = generation_mwh_fuel_month[col_list].sum(axis=1)

In [33]:
generation_mwh_fuel_month.rename(columns={'coal': "coal_generation_mwh", 'gas': "gas_generation_mwh",
                                  'hydro': "hydro_generation_mwh", 'nuclear': "nuclear_generation_mwh",
                                  'oil': "oil_generation_mwh", 'other': "other_generation_mwh", 
                                  'solar': "solar_generation_mwh", 'waste': 'waste_generation_mwh',
                                  'wind': "wind_generation_mwh"}, inplace= True)

In [34]:
generation_mwh_fuel_month.head()

fuel_type_code_pudl,plant_id_eia,year,month,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,primary_fuel,total_net_generation_mwh
0,2,2009,1,NaN,NaN,28927.787,NaN,NaN,NaN,NaN,NaN,NaN,hydro,28927.787
1,2,2009,2,NaN,NaN,12227.884,NaN,NaN,NaN,NaN,NaN,NaN,hydro,12227.884
2,2,2009,3,NaN,NaN,26298.379,NaN,NaN,NaN,NaN,NaN,NaN,hydro,26298.379
3,2,2009,4,NaN,NaN,22594.291,NaN,NaN,NaN,NaN,NaN,NaN,hydro,22594.291
4,2,2009,5,NaN,NaN,29305.852,NaN,NaN,NaN,NaN,NaN,NaN,hydro,29305.852

In [35]:
#checking only one plant (as example)
generation_mwh_fuel_month.loc[generation_mwh_fuel_month['plant_id_eia']==7]

fuel_type_code_pudl,plant_id_eia,year,month,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,primary_fuel,total_net_generation_mwh
360,7,2009,1,39975.564,1101.871,NaN,NaN,118.059,NaN,NaN,78.506,NaN,coal,41274.0
361,7,2009,2,20852.106,3.919,NaN,NaN,0.000,NaN,NaN,32.975,NaN,coal,20889.0
362,7,2009,3,21380.267,1879.733,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,23260.0
363,7,2009,4,5891.763,14051.237,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19943.0
364,7,2009,5,14579.632,9550.742,NaN,NaN,0.000,NaN,NaN,65.626,NaN,coal,24196.0
365,7,2009,6,20790.000,25.645,NaN,NaN,0.000,NaN,NaN,353.355,NaN,coal,21169.0
366,7,2009,7,16577.517,6280.318,NaN,NaN,0.000,NaN,NaN,239.165,NaN,coal,23097.0
367,7,2009,8,22010.843,1228.249,NaN,NaN,0.000,NaN,NaN,340.908,NaN,coal,23580.0
368,7,2009,9,16678.048,1446.678,NaN,NaN,67.789,NaN,NaN,321.485,NaN,coal,18514.0
369,7,2009,10,10190.522,6248.847,NaN,NaN,0.000,NaN,NaN,351.631,NaN,coal,16791.0
370,7,2009,11,13631.744,849.369,NaN,NaN,0.000,NaN,NaN,148.887,NaN,coal,14630.0
371,7,2009,12,15770.644,99.072,NaN,NaN,0.000,NaN,NaN,117.284,NaN,coal,15987.0
372,7,2010,1,17062.656,761.488,NaN,NaN,0.000,NaN,NaN,136.856,NaN,coal,17961.0
373,7,2010,2,15150.993,362.747,NaN,NaN,0.000,NaN,NaN,115.260,NaN,coal,15629.0
374,7,2010,3,14411.821,3090.658,NaN,NaN,0.000,NaN,NaN,142.521,NaN,coal,17645.0
375,7,2010,4,13394.750,89.714,NaN,NaN,0.000,NaN,NaN,149.536,NaN,coal,13634.0
376,7,2010,5,13519.113,2.149,NaN,NaN,0.000,NaN,NaN,106.738,NaN,coal,13628.0
377,7,2010,6,20648.908,237.837,NaN,NaN,0.000,NaN,NaN,110.255,NaN,coal,20997.0
378,7,2010,7,27366.266,286.631,NaN,NaN,0.000,NaN,NaN,12.103,NaN,coal,27665.0
379,7,2010,8,33116.862,19.850,NaN,NaN,0.000,NaN,NaN,157.288,NaN,coal,33294.0
380,7,2010,9,13143.791,447.935,NaN,NaN,0.000,NaN,NaN,87.274,NaN,coal,13679.0
381,7,2010,10,16691.796,56.339,NaN,NaN,0.000,NaN,NaN,12.865,NaN,coal,16761.0
382,7,2010,11,20205.288,950.591,NaN,NaN,0.000,NaN,NaN,118.121,NaN,coal,21274.0
383,7,2010,12,13232.938,4218.671,NaN,NaN,0.000,NaN,NaN,41.391,NaN,coal,17493.0
384,7,2011,1,20224.441,8256.559,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,28481.0
385,7,2011,2,12078.314,1015.686,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,13094.0
386,7,2011,3,18817.249,9.751,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,18827.0
387,7,2011,4,13206.369,987.631,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,14194.0
388,7,2011,5,21678.079,28.921,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,21707.0
389,7,2011,6,22176.694,1393.306,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,23570.0
390,7,2011,7,18697.767,62.539,NaN,NaN,0.000,NaN,NaN,188.694,NaN,coal,18949.0
391,7,2011,8,25802.039,1417.234,NaN,NaN,0.000,NaN,NaN,292.727,NaN,coal,27512.0
392,7,2011,9,15297.321,71.214,NaN,NaN,0.000,NaN,NaN,187.465,NaN,coal,15556.0
393,7,2011,10,13832.043,178.894,NaN,NaN,0.000,NaN,NaN,340.063,NaN,coal,14351.0
394,7,2011,11,12145.886,1656.320,NaN,NaN,0.000,NaN,NaN,204.794,NaN,coal,14007.0
395,7,2011,12,8845.715,11106.285,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19952.0
396,7,2012,1,0.000,16219.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,16219.0
397,7,2012,2,0.000,11464.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,11464.0
398,7,2012,3,2156.936,13041.064,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,15198.0
399,7,2012,4,3054.977,13651.023,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,16706.0
400,7,2012,5,5.269,19411.731,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19417.0
401,7,2012,6,0.000,14631.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,14631.0
402,7,2012,7,0.000,17963.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,17963.0
403,7,2012,8,10555.067,11994.553,NaN,NaN,0.000,NaN,NaN,631.380,NaN,gas,23181.0
404,7,2012,9,25709.665,8782.335,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,34492.0
405,7,2012,10,6588.376,14301.624,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,20890.0
406,7,2012,11,0.000,19649.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19649.0
407,7,2012,12,0.000,12290.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,12290.0
408,7,2013,1,878.537,12057.463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,12936.0
409,7,2013,2,0.000,11648.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,11648.0
410,7,2013,3,0.000,13643.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13643.0
411,7,2013,4,1872.188,12180.812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14053.0
412,7,2013,5,15793.435,2601.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,18395.0
413,7,2013,6,20750.761,343.239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,21094.0
414,7,2013,7,14897.614,369.386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,15267.0
415,7,2013,8,12350.664,2661.336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,15012.0
416,7,2013,9,3600.114,12851.886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,16452.0
417,7,2013,10,90.982,13698.018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13789.0
418,7,2013,11,1768.921,11265.079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13034.0
419,7,2013,12,10691.280,5989.720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,16681.0
420,7,2014,1,22537.100,2227.852,NaN,NaN,NaN,NaN,NaN,72.048,NaN,coal,24837.0
421,7,2014,2,11984.381,139.477,NaN,NaN,NaN,NaN,NaN,85.142,NaN,coal,12209.0
422,7,2014,3,13933.427,1765.285,NaN,NaN,NaN,NaN,NaN,11.288,NaN,coal,15710.0
423,7,2014,4,17396.971,357.950,NaN,NaN,NaN,NaN,NaN,218.079,NaN,coal,17973.0
424,7,2014,5,18432.939,249.038,NaN,NaN,NaN,NaN,NaN,332.023,NaN,coal,19014.0
425,7,2014,6,27489.774,511.193,NaN,NaN,NaN,NaN,NaN,75.033,NaN,coal,28076.0
426,7,2014,7,12288.388,807.720,NaN,NaN,NaN,NaN,NaN,212.892,NaN,coal,13309.0
427,7,2014,8,16768.943,1474.651,NaN,NaN,NaN,NaN,NaN,281.406,NaN,coal,18525.0
428,7,2014,9,0.000,14339.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,14339.0
429,7,2014,10,0.000,16225.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,16225.0
430,7,2014,11,11340.093,5123.907,NaN,NaN,NaN,NaN,NaN,0.000,NaN,coal,16464.0
431,7,2014,12,3216.223,16852.777,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,20069.0
432,7,2015,1,0.000,15391.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,15391.0
433,7,2015,2,11046.791,14524.209,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,25571.0
434,7,2015,3,4597.902,19943.098,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,24541.0
435,7,2015,4,0.000,16002.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,16002.0
436,7,2015,5,0.000,16471.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,16471.0
437,7,2015,6,0.000,17582.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,17582.0
438,7,2015,7,0.000,15406.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,15406.0
439,7,2015,8,0.000,16418.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,16418.0
440,7,2015,9,0.000,18671.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,18671.0
441,7,2015,10,0.000,17173.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,17173.0
442,7,2015,11,0.000,16576.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,16576.0
443,7,2015,12,0.000,14853.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,14853.0
444,7,2016,1,0.000,14290.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,14290.0
445,7,2016,2,0.000,12465.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,12465.0
446,7,2016,3,0.000,14804.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,14804.0
447,7,2016,4,0.000,13743.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,13743.0
448,7,2016,5,0.000,19686.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,19686.0
449,7,2016,6,0.000,18706.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,18706.0
450,7,2016,7,0.000,18001.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,18001.0
451,7,2016,8,0.000,15831.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,15831.0
452,7,2016,9,0.000,17836.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,17836.0
453,7,2016,10,0.000,15430.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,15430.0
454,7,2016,11,0.000,14740.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,14740.0
455,7,2016,12,0.000,15446.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,15446.0
456,7,2017,1,0.000,13663.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13663.0
457,7,2017,2,0.000,14303.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14303.0
458,7,2017,3,0.000,21736.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,21736.0
459,7,2017,4,0.000,17929.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,17929.0
460,7,2017,5,0.000,15656.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15656.0
461,7,2017,6,0.000,15054.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15054.0
462,7,2017,7,0.000,12479.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,12479.0
463,7,2017,8,0.000,23994.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,23994.0
464,7,2017,9,0.000,13700.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13700.0
465,7,2017,10,0.000,18633.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,18633.0
466,7,2017,11,0.000,11861.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,11861.0
467,7,2017,12,0.000,14265.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14265.0
468,7,2018,1,NaN,14592.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14592.0
469,7,2018,2,NaN,13210.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13210.0
470,7,2018,3,NaN,15185.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15185.0
471,7,2018,4,NaN,30310.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,30310.0
472,7,2018,5,NaN,14592.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14592.0
473,7,2018,6,NaN,14203.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14203.0
474,7,2018,7,NaN,15211.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15211.0
475,7,2018,8,NaN,14698.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14698.0
476,7,2018,9,NaN,14423.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14423.0
477,7,2018,10,NaN,14775.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14775.0
478,7,2018,11,NaN,11986.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,11986.0
479,7,2018,12,NaN,15692.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15692.0

**EIA Plant Metadata**

In [36]:
#Sorting dataframes by plant_id 
plants_entity_eia= plants_entity_eia.sort_values(by=['plant_id_eia'])

In [37]:
plants_entity_eia.head()

,plant_id_eia,plant_name_eia,balancing_authority_code,balancing_authority_name,city,county,ferc_cogen_status,ferc_exempt_wholesale_generator,ferc_small_power_producer,grid_voltage_kv,grid_voltage_2_kv,grid_voltage_3_kv,iso_rto_code,latitude,longitude,nerc_region,primary_purpose_naics_id,sector_name,sector_id,state,street_address,zip_code,timezone
0,2,Bankhead Dam,SOCO,"Southern Company Services, Inc. - Trans",Northport,Tuscaloosa,False,False,False,115.0,NaN,NaN,None,33.458665,-87.356823,SERC,22.0,Electric Utility,1.0,AL,19001 Lock 17 Road,35476.0,America/Chicago
1,3,Barry,SOCO,"Southern Company Services, Inc. - Trans",Bucks,Mobile,False,False,False,230.0,NaN,NaN,None,31.006900,-88.010300,SERC,22.0,Electric Utility,1.0,AL,North Highway 43,36512.0,America/Chicago
2,4,Walter Bouldin Dam,SOCO,"Southern Company Services, Inc. - Trans",Wetumpka,Elmore,False,False,False,115.0,NaN,NaN,None,32.583889,-86.283056,SERC,22.0,Electric Utility,1.0,AL,750 Bouldin Dam Road,36092.0,America/Chicago
3,5,Chickasaw,None,None,None,None,None,None,None,NaN,NaN,NaN,None,30.763300,-88.060600,None,NaN,None,NaN,AL,None,None,America/Chicago
4,7,Gadsden,SOCO,"Southern Company Services, Inc. - Trans",Gadsden,Etowah,False,False,False,115.0,NaN,NaN,None,34.012800,-85.970800,SERC,22.0,Electric Utility,1.0,AL,1000 Goodyear Ave,35903.0,America/Chicago

**Fuel Costs**

In [38]:
#Dropping unnecessary columns 
fuel_costs.drop(['id', 'contract_type_code', 'contract_expiration_date', 'energy_source_code', 'fuel_group_code',
                'fuel_group_code_simple', 'mine_id_pudl', 'supplier_name', 'heat_content_mmbtu_per_unit',
                'sulfur_content_pct', 'ash_content_pct', 'mercury_content_ppm', 'primary_transportation_mode_code',
                'secondary_transportation_mode_code', 'natural_gas_transport_code', 'natural_gas_delivery_contract_type_code',
                'moisture_content_pct', 'chlorine_content_ppm'],axis=1, inplace= True)

In [39]:
fuel_costs.dtypes

plant_id_eia             int64
report_date             object
fuel_type_code_pudl     object
fuel_qty_units         float64
fuel_cost_per_mmbtu    float64
dtype: object

In [40]:
#Converting report_date to datetime format and creating year and month column
fuel_costs['report_date']= pd.to_datetime(fuel_costs['report_date']) 
fuel_costs['year'] = pd.DatetimeIndex(fuel_costs['report_date']).year
fuel_costs['month'] = pd.DatetimeIndex(fuel_costs['report_date']).month
fuel_costs.dtypes

plant_id_eia                    int64
report_date            datetime64[ns]
fuel_type_code_pudl            object
fuel_qty_units                float64
fuel_cost_per_mmbtu           float64
year                            int64
month                           int64
dtype: object

In [41]:
#Sorting dataframes by plant_id and report date 
fuel_costs= fuel_costs.sort_values(by=['plant_id_eia', 'report_date'])

In [42]:
#Group by year, month, plant_id, and fuel_type_code_pudl and aggregating fuel consumption and generation

#lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=fuel_costs.loc[x.index, 'fuel_qty_units'])

fuel_costs_month= fuel_costs.groupby(['year', 'month', 'plant_id_eia', 'fuel_type_code_pudl']).agg(fuel_qty_units = ('fuel_qty_units','sum'),
                                                                                                   fuel_cost_per_mmbtu_wm =('fuel_cost_per_mmbtu', wm)).reset_index()
                
#Checking first 20 rows
fuel_costs_month.head(20)

,year,month,plant_id_eia,fuel_type_code_pudl,fuel_qty_units,fuel_cost_per_mmbtu_wm
0,2009,1,3,coal,381438.0,4.498458
1,2009,1,3,gas,1931268.0,6.792357
2,2009,1,7,coal,21205.0,3.976000
3,2009,1,7,gas,18464.0,5.687645
4,2009,1,8,coal,170117.0,3.418795
5,2009,1,8,oil,362.0,11.823000
6,2009,1,9,gas,14477.0,4.963000
7,2009,1,10,coal,106862.0,3.633927
8,2009,1,10,gas,172368.0,7.337000
9,2009,1,26,coal,359828.0,3.504549
10,2009,1,26,oil,859.0,20.955000
11,2009,1,47,coal,254562.0,2.941058
12,2009,1,50,coal,208519.0,2.616916
13,2009,1,50,oil,4072.0,10.496975
14,2009,1,51,coal,354717.0,1.859006
15,2009,1,51,gas,1050.0,5.830000
16,2009,1,54,gas,342738.0,7.790000
17,2009,1,56,coal,190657.0,3.991087
18,2009,1,56,oil,745.0,12.511706
19,2009,1,59,coal,34284.0,1.537000

In [43]:
fuel_costs_mmbtu_month= pd.pivot_table(fuel_costs_month, values = 'fuel_cost_per_mmbtu_wm', 
                     index=['plant_id_eia', 'year', 'month'],
                     columns = ['fuel_type_code_pudl']).reset_index()

fuel_costs_mmbtu_month.drop(['nan'],axis=1, inplace= True)

In [44]:
fuel_costs_mmbtu_month.head()

fuel_type_code_pudl  plant_id_eia  year  month      coal       gas  oil
0                               3  2009      1  4.498458  6.792357  NaN
1                               3  2009      2  4.086086  5.223498  NaN
2                               3  2009      3  3.703871  4.555295  NaN
3                               3  2009      4  3.871816  3.889918  NaN
4                               3  2009      5  3.666749  4.221598  NaN

In [45]:
#checking only one plant (as example)
fuel_costs_mmbtu_month.loc[fuel_costs_mmbtu_month['plant_id_eia']==7]

fuel_type_code_pudl  plant_id_eia  year  month   coal       gas  oil
118                             7  2009      1  3.976  5.687645  NaN
119                             7  2009      2  3.916  4.911816  NaN
120                             7  2009      3  3.584  4.296674  NaN
121                             7  2009      4  3.184  3.793964  NaN
122                             7  2009      5  3.388  3.884701  NaN
123                             7  2009      6  3.437  3.833626  NaN
124                             7  2009      7  3.620  3.547099  NaN
125                             7  2009      8  3.299  3.522815  NaN
126                             7  2009      9  3.146  3.301889  NaN
127                             7  2009     10  3.016  4.213620  NaN
128                             7  2009     11  3.225  4.042777  NaN
129                             7  2009     12  3.453  5.367879  NaN
130                             7  2010      1  3.629  5.841000  NaN
131                             7  2010      2  3.452  5.344000  NaN
132                             7  2010      3  3.581  4.445000  NaN
133                             7  2010      4  3.497  4.138000  NaN
134                             7  2010      5  3.357  4.059000  NaN
135                             7  2010      6  3.475  4.347000  NaN
136                             7  2010      7  3.514  4.913000  NaN
137                             7  2010      8  3.643  4.124000  NaN
138                             7  2010      9  3.457  3.778000  NaN
139                             7  2010     10  3.574  3.499000  NaN
140                             7  2010     11  3.438  3.754000  NaN
141                             7  2010     12  3.432  4.294000  NaN
142                             7  2011      1  3.783  4.880000  NaN
143                             7  2011      2  3.796  4.537000  NaN
144                             7  2011      3  3.477  4.399000  NaN
145                             7  2011      4  3.814  4.689000  NaN
146                             7  2011      5  4.045  4.410000  NaN
147                             7  2011      6  4.126  4.480000  NaN
148                             7  2011      7  4.286  4.715000  NaN
149                             7  2011      8  4.227  4.102000  NaN
150                             7  2011      9  4.046  4.115000  NaN
151                             7  2011     10  3.668  4.013000  NaN
152                             7  2011     11  3.700  3.652000  NaN
153                             7  2011     12  3.773  3.463000  NaN
154                             7  2012      1  3.914  2.950000  NaN
155                             7  2012      2  4.225  2.793000  NaN
156                             7  2012      3  4.113  2.735000  NaN
157                             7  2012      4  4.357  2.278000  NaN
158                             7  2012      5  4.356  2.788000  NaN
159                             7  2012      6  4.130  2.865000  NaN
160                             7  2012      7  4.407  3.325000  NaN
161                             7  2012      8  4.245  3.233000  NaN
162                             7  2012      9  4.217  3.220000  NaN
163                             7  2012     10  4.186  3.794000  NaN
164                             7  2012     11  3.989  4.089000  NaN
165                             7  2012     12  3.883  3.888000  NaN
166                             7  2013      1  3.937  4.448000  NaN
167                             7  2013      2  4.046  4.431000  NaN
168                             7  2013      3  3.708  4.858000  NaN
169                             7  2013      4  3.887  5.420000  NaN
170                             7  2013      5  3.984  5.361000  NaN
171                             7  2013      6  4.060  5.081000  NaN
172                             7  2013      7  4.010  4.729000  NaN
173                             7  2013      8  3.985  4.428000  NaN
174                             7  2013      9  3.977  4.691000  NaN
175                             7  2013     10  3.879  4.725000  NaN
176                             7  2013     11  3.772  4.687000  NaN
177                             7  2013     12  3.784  5.308000  NaN
178                             7  2014      1  3.678  5.457000  NaN
179                             7  2014      2  3.692  7.305000  NaN
180                             7  2014      3  3.813  6.082000  NaN
181                             7  2014      4  3.647  5.724000  NaN
182                             7  2014      5  3.975  5.629000  NaN
183                             7  2014      6  4.036  5.589000  NaN
184                             7  2014      7  4.072  5.023000  NaN
185                             7  2014      8  4.051  4.798000  NaN
186                             7  2014      9  3.613  4.836000  NaN
187                             7  2014     10  3.394  4.686000  NaN
188                             7  2014     11  3.329  5.038000  NaN
189                             7  2014     12  3.434  4.424000  NaN
190                             7  2017      1    NaN  3.597000  NaN
191                             7  2017      2    NaN  3.120000  NaN
192                             7  2017      3    NaN  3.136000  NaN
193                             7  2017      4    NaN  3.379000  NaN
194                             7  2017      5    NaN  3.460000  NaN
195                             7  2017      6    NaN  3.262000  NaN
196                             7  2017      7    NaN  3.339000  NaN
197                             7  2017      8    NaN  3.155000  NaN
198                             7  2017      9    NaN  3.340000  NaN
199                             7  2017     10    NaN  3.120000  NaN
200                             7  2017     11    NaN  3.267000  NaN
201                             7  2017     12    NaN  3.034000  NaN
202                             7  2018      1    NaN  3.973000  NaN
203                             7  2018      2    NaN  2.932000  NaN
204                             7  2018      3    NaN  2.898000  NaN
205                             7  2018      4    NaN  2.928000  NaN
206                             7  2018      5    NaN  3.070000  NaN
207                             7  2018      6    NaN  3.202000  NaN
208                             7  2018      7    NaN  3.053000  NaN
209                             7  2018      8    NaN  3.165000  NaN
210                             7  2018      9    NaN  3.132000  NaN
211                             7  2018     10    NaN  3.410000  NaN
212                             7  2018     11    NaN  4.248000  NaN
213                             7  2018     12    NaN  4.060000  NaN

In [46]:
fuel_costs_mmbtu_month.dtypes

fuel_type_code_pudl
plant_id_eia      int64
year              int64
month             int64
coal            float64
gas             float64
oil             float64
dtype: object

In [47]:
fuel_costs_mmbtu_month.rename(columns={'coal': "coal_cost_mmbtu_wm", 'gas': "gas_cost_mmbtu_wm",
                                       'oil': "oil_cost_mmbtu_wm"}, inplace= True)

In [48]:
fuel_costs_mmbtu_month.head()

fuel_type_code_pudl,plant_id_eia,year,month,coal_cost_mmbtu_wm,gas_cost_mmbtu_wm,oil_cost_mmbtu_wm
0,3,2009,1,4.498458,6.792357,NaN
1,3,2009,2,4.086086,5.223498,NaN
2,3,2009,3,3.703871,4.555295,NaN
3,3,2009,4,3.871816,3.889918,NaN
4,3,2009,5,3.666749,4.221598,NaN

### Merging Datasets

**generation_mwh_fuel_year and plants_entity_eia**

In [49]:
#outer join (keeping plant_id's present in either datasets)
plant_complete = pd.merge(generation_mwh_fuel_year, plants_entity_eia, on='plant_id_eia', how='outer')

In [50]:
plant_complete.year = plant_complete.year.astype('Int64')

In [51]:
plant_complete.shape

(73426, 35)

In [52]:
plant_complete.plant_id_eia.nunique()

12375

In [53]:
#inner join (keeping plant_id's shared by both datasets)
plant_complete_fuel= pd.merge(generation_mwh_fuel_year, plants_entity_eia, on='plant_id_eia')

In [54]:
plant_complete_fuel.shape

(70973, 35)

In [55]:
plant_complete_fuel.plant_id_eia.nunique()

9922

In [56]:
#keeping only variables of interest 
plant_geo_generation = plant_complete_fuel[['plant_id_eia', 'plant_name_eia', 'year', 'primary_fuel','total_net_generation_mwh',
                                            "coal_generation_mwh", "gas_generation_mwh","hydro_generation_mwh", "nuclear_generation_mwh",
                                            "oil_generation_mwh", "other_generation_mwh", "solar_generation_mwh", 'waste_generation_mwh', 
                                            "wind_generation_mwh",'latitude', 'longitude', 'state', 'city', 'county','zip_code', 
                                            'primary_purpose_naics_id']]

In [57]:
plant_geo_generation.head()

,plant_id_eia,plant_name_eia,year,primary_fuel,total_net_generation_mwh,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,latitude,longitude,state,city,county,zip_code,primary_purpose_naics_id
0,2,Bankhead Dam,2009,hydro,282659.0,NaN,NaN,282659.0,NaN,NaN,NaN,NaN,NaN,NaN,33.458665,-87.356823,AL,Northport,Tuscaloosa,35476.0,22.0
1,2,Bankhead Dam,2010,hydro,100981.0,NaN,NaN,100981.0,NaN,NaN,NaN,NaN,NaN,NaN,33.458665,-87.356823,AL,Northport,Tuscaloosa,35476.0,22.0
2,2,Bankhead Dam,2011,hydro,129035.0,NaN,NaN,129035.0,NaN,NaN,NaN,NaN,NaN,NaN,33.458665,-87.356823,AL,Northport,Tuscaloosa,35476.0,22.0
3,2,Bankhead Dam,2012,hydro,159180.0,NaN,NaN,159180.0,NaN,NaN,NaN,NaN,NaN,NaN,33.458665,-87.356823,AL,Northport,Tuscaloosa,35476.0,22.0
4,2,Bankhead Dam,2013,hydro,211342.0,NaN,NaN,211342.0,NaN,NaN,NaN,NaN,NaN,NaN,33.458665,-87.356823,AL,Northport,Tuscaloosa,35476.0,22.0

In [58]:
#checking only one plant (as example)
plant_geo_generation.loc[plant_geo_generation['plant_id_eia']==7]

,plant_id_eia,plant_name_eia,year,primary_fuel,total_net_generation_mwh,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,latitude,longitude,state,city,county,zip_code,primary_purpose_naics_id
30,7,Gadsden,2009,coal,263330.0,218328.650,42765.680,NaN,NaN,185.848,NaN,NaN,2049.822,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
31,7,Gadsden,2010,coal,229660.0,217945.182,10524.610,NaN,NaN,0.000,NaN,NaN,1190.208,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
32,7,Gadsden,2011,coal,230200.0,202801.917,26184.340,NaN,NaN,0.000,NaN,NaN,1213.743,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
33,7,Gadsden,2012,gas,222100.0,48070.290,173398.330,NaN,NaN,0.000,NaN,NaN,631.380,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
34,7,Gadsden,2013,gas,182004.0,82694.496,99309.504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
35,7,Gadsden,2014,coal,216750.0,155388.239,60073.850,NaN,NaN,NaN,NaN,NaN,1287.911,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
36,7,Gadsden,2015,gas,214655.0,15644.693,199010.307,NaN,NaN,NaN,NaN,NaN,0.000,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
37,7,Gadsden,2016,gas,190978.0,0.000,190978.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
38,7,Gadsden,2017,gas,193273.0,0.000,193273.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0
39,7,Gadsden,2018,gas,188877.0,NaN,188877.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0128,-85.9708,AL,Gadsden,Etowah,35903.0,22.0

In [59]:
plant_geo_generation.to_csv('../Output/CSVs/pudl_generation_metadata.csv', index=False)

**generation_mwh_fuel_month and fuel_costs_mmbtu_month**

In [60]:
#inner join (keeping plant_id's shared by both datasets)
fuel_cost_generation= pd.merge(fuel_costs_mmbtu_month, generation_mwh_fuel_month,  on=['plant_id_eia', 'year', 'month'])

In [61]:
fuel_cost_generation.shape

(72038, 17)

In [62]:
fuel_cost_generation.plant_id_eia.nunique()

899

In [63]:
fuel_cost_generation.head()

fuel_type_code_pudl,plant_id_eia,year,month,coal_cost_mmbtu_wm,gas_cost_mmbtu_wm,oil_cost_mmbtu_wm,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,primary_fuel,total_net_generation_mwh
0,3,2009,1,4.498458,6.792357,NaN,875865.983,286801.017,NaN,NaN,0.0,NaN,NaN,NaN,NaN,coal,1162667.0
1,3,2009,2,4.086086,5.223498,NaN,687562.108,327890.892,NaN,NaN,0.0,NaN,NaN,NaN,NaN,coal,1015453.0
2,3,2009,3,3.703871,4.555295,NaN,630413.284,688308.716,NaN,NaN,0.0,NaN,NaN,NaN,NaN,gas,1318722.0
3,3,2009,4,3.871816,3.889918,NaN,441720.491,641086.509,NaN,NaN,0.0,NaN,NaN,NaN,NaN,gas,1082807.0
4,3,2009,5,3.666749,4.221598,NaN,789099.665,579403.335,NaN,NaN,0.0,NaN,NaN,NaN,NaN,coal,1368503.0

In [64]:
#checking only one plant (as example)
fuel_cost_generation.loc[fuel_cost_generation['plant_id_eia']==7]

fuel_type_code_pudl,plant_id_eia,year,month,coal_cost_mmbtu_wm,gas_cost_mmbtu_wm,oil_cost_mmbtu_wm,coal_generation_mwh,gas_generation_mwh,hydro_generation_mwh,nuclear_generation_mwh,oil_generation_mwh,other_generation_mwh,solar_generation_mwh,waste_generation_mwh,wind_generation_mwh,primary_fuel,total_net_generation_mwh
118,7,2009,1,3.976,5.687645,NaN,39975.564,1101.871,NaN,NaN,118.059,NaN,NaN,78.506,NaN,coal,41274.0
119,7,2009,2,3.916,4.911816,NaN,20852.106,3.919,NaN,NaN,0.000,NaN,NaN,32.975,NaN,coal,20889.0
120,7,2009,3,3.584,4.296674,NaN,21380.267,1879.733,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,23260.0
121,7,2009,4,3.184,3.793964,NaN,5891.763,14051.237,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19943.0
122,7,2009,5,3.388,3.884701,NaN,14579.632,9550.742,NaN,NaN,0.000,NaN,NaN,65.626,NaN,coal,24196.0
123,7,2009,6,3.437,3.833626,NaN,20790.000,25.645,NaN,NaN,0.000,NaN,NaN,353.355,NaN,coal,21169.0
124,7,2009,7,3.620,3.547099,NaN,16577.517,6280.318,NaN,NaN,0.000,NaN,NaN,239.165,NaN,coal,23097.0
125,7,2009,8,3.299,3.522815,NaN,22010.843,1228.249,NaN,NaN,0.000,NaN,NaN,340.908,NaN,coal,23580.0
126,7,2009,9,3.146,3.301889,NaN,16678.048,1446.678,NaN,NaN,67.789,NaN,NaN,321.485,NaN,coal,18514.0
127,7,2009,10,3.016,4.213620,NaN,10190.522,6248.847,NaN,NaN,0.000,NaN,NaN,351.631,NaN,coal,16791.0
128,7,2009,11,3.225,4.042777,NaN,13631.744,849.369,NaN,NaN,0.000,NaN,NaN,148.887,NaN,coal,14630.0
129,7,2009,12,3.453,5.367879,NaN,15770.644,99.072,NaN,NaN,0.000,NaN,NaN,117.284,NaN,coal,15987.0
130,7,2010,1,3.629,5.841000,NaN,17062.656,761.488,NaN,NaN,0.000,NaN,NaN,136.856,NaN,coal,17961.0
131,7,2010,2,3.452,5.344000,NaN,15150.993,362.747,NaN,NaN,0.000,NaN,NaN,115.260,NaN,coal,15629.0
132,7,2010,3,3.581,4.445000,NaN,14411.821,3090.658,NaN,NaN,0.000,NaN,NaN,142.521,NaN,coal,17645.0
133,7,2010,4,3.497,4.138000,NaN,13394.750,89.714,NaN,NaN,0.000,NaN,NaN,149.536,NaN,coal,13634.0
134,7,2010,5,3.357,4.059000,NaN,13519.113,2.149,NaN,NaN,0.000,NaN,NaN,106.738,NaN,coal,13628.0
135,7,2010,6,3.475,4.347000,NaN,20648.908,237.837,NaN,NaN,0.000,NaN,NaN,110.255,NaN,coal,20997.0
136,7,2010,7,3.514,4.913000,NaN,27366.266,286.631,NaN,NaN,0.000,NaN,NaN,12.103,NaN,coal,27665.0
137,7,2010,8,3.643,4.124000,NaN,33116.862,19.850,NaN,NaN,0.000,NaN,NaN,157.288,NaN,coal,33294.0
138,7,2010,9,3.457,3.778000,NaN,13143.791,447.935,NaN,NaN,0.000,NaN,NaN,87.274,NaN,coal,13679.0
139,7,2010,10,3.574,3.499000,NaN,16691.796,56.339,NaN,NaN,0.000,NaN,NaN,12.865,NaN,coal,16761.0
140,7,2010,11,3.438,3.754000,NaN,20205.288,950.591,NaN,NaN,0.000,NaN,NaN,118.121,NaN,coal,21274.0
141,7,2010,12,3.432,4.294000,NaN,13232.938,4218.671,NaN,NaN,0.000,NaN,NaN,41.391,NaN,coal,17493.0
142,7,2011,1,3.783,4.880000,NaN,20224.441,8256.559,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,28481.0
143,7,2011,2,3.796,4.537000,NaN,12078.314,1015.686,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,13094.0
144,7,2011,3,3.477,4.399000,NaN,18817.249,9.751,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,18827.0
145,7,2011,4,3.814,4.689000,NaN,13206.369,987.631,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,14194.0
146,7,2011,5,4.045,4.410000,NaN,21678.079,28.921,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,21707.0
147,7,2011,6,4.126,4.480000,NaN,22176.694,1393.306,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,23570.0
148,7,2011,7,4.286,4.715000,NaN,18697.767,62.539,NaN,NaN,0.000,NaN,NaN,188.694,NaN,coal,18949.0
149,7,2011,8,4.227,4.102000,NaN,25802.039,1417.234,NaN,NaN,0.000,NaN,NaN,292.727,NaN,coal,27512.0
150,7,2011,9,4.046,4.115000,NaN,15297.321,71.214,NaN,NaN,0.000,NaN,NaN,187.465,NaN,coal,15556.0
151,7,2011,10,3.668,4.013000,NaN,13832.043,178.894,NaN,NaN,0.000,NaN,NaN,340.063,NaN,coal,14351.0
152,7,2011,11,3.700,3.652000,NaN,12145.886,1656.320,NaN,NaN,0.000,NaN,NaN,204.794,NaN,coal,14007.0
153,7,2011,12,3.773,3.463000,NaN,8845.715,11106.285,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19952.0
154,7,2012,1,3.914,2.950000,NaN,0.000,16219.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,16219.0
155,7,2012,2,4.225,2.793000,NaN,0.000,11464.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,11464.0
156,7,2012,3,4.113,2.735000,NaN,2156.936,13041.064,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,15198.0
157,7,2012,4,4.357,2.278000,NaN,3054.977,13651.023,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,16706.0
158,7,2012,5,4.356,2.788000,NaN,5.269,19411.731,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19417.0
159,7,2012,6,4.130,2.865000,NaN,0.000,14631.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,14631.0
160,7,2012,7,4.407,3.325000,NaN,0.000,17963.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,17963.0
161,7,2012,8,4.245,3.233000,NaN,10555.067,11994.553,NaN,NaN,0.000,NaN,NaN,631.380,NaN,gas,23181.0
162,7,2012,9,4.217,3.220000,NaN,25709.665,8782.335,NaN,NaN,0.000,NaN,NaN,0.000,NaN,coal,34492.0
163,7,2012,10,4.186,3.794000,NaN,6588.376,14301.624,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,20890.0
164,7,2012,11,3.989,4.089000,NaN,0.000,19649.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,19649.0
165,7,2012,12,3.883,3.888000,NaN,0.000,12290.000,NaN,NaN,0.000,NaN,NaN,0.000,NaN,gas,12290.0
166,7,2013,1,3.937,4.448000,NaN,878.537,12057.463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,12936.0
167,7,2013,2,4.046,4.431000,NaN,0.000,11648.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,11648.0
168,7,2013,3,3.708,4.858000,NaN,0.000,13643.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13643.0
169,7,2013,4,3.887,5.420000,NaN,1872.188,12180.812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14053.0
170,7,2013,5,3.984,5.361000,NaN,15793.435,2601.565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,18395.0
171,7,2013,6,4.060,5.081000,NaN,20750.761,343.239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,21094.0
172,7,2013,7,4.010,4.729000,NaN,14897.614,369.386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,15267.0
173,7,2013,8,3.985,4.428000,NaN,12350.664,2661.336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,15012.0
174,7,2013,9,3.977,4.691000,NaN,3600.114,12851.886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,16452.0
175,7,2013,10,3.879,4.725000,NaN,90.982,13698.018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13789.0
176,7,2013,11,3.772,4.687000,NaN,1768.921,11265.079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13034.0
177,7,2013,12,3.784,5.308000,NaN,10691.280,5989.720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,coal,16681.0
178,7,2014,1,3.678,5.457000,NaN,22537.100,2227.852,NaN,NaN,NaN,NaN,NaN,72.048,NaN,coal,24837.0
179,7,2014,2,3.692,7.305000,NaN,11984.381,139.477,NaN,NaN,NaN,NaN,NaN,85.142,NaN,coal,12209.0
180,7,2014,3,3.813,6.082000,NaN,13933.427,1765.285,NaN,NaN,NaN,NaN,NaN,11.288,NaN,coal,15710.0
181,7,2014,4,3.647,5.724000,NaN,17396.971,357.950,NaN,NaN,NaN,NaN,NaN,218.079,NaN,coal,17973.0
182,7,2014,5,3.975,5.629000,NaN,18432.939,249.038,NaN,NaN,NaN,NaN,NaN,332.023,NaN,coal,19014.0
183,7,2014,6,4.036,5.589000,NaN,27489.774,511.193,NaN,NaN,NaN,NaN,NaN,75.033,NaN,coal,28076.0
184,7,2014,7,4.072,5.023000,NaN,12288.388,807.720,NaN,NaN,NaN,NaN,NaN,212.892,NaN,coal,13309.0
185,7,2014,8,4.051,4.798000,NaN,16768.943,1474.651,NaN,NaN,NaN,NaN,NaN,281.406,NaN,coal,18525.0
186,7,2014,9,3.613,4.836000,NaN,0.000,14339.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,14339.0
187,7,2014,10,3.394,4.686000,NaN,0.000,16225.000,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,16225.0
188,7,2014,11,3.329,5.038000,NaN,11340.093,5123.907,NaN,NaN,NaN,NaN,NaN,0.000,NaN,coal,16464.0
189,7,2014,12,3.434,4.424000,NaN,3216.223,16852.777,NaN,NaN,NaN,NaN,NaN,0.000,NaN,gas,20069.0
190,7,2017,1,NaN,3.597000,NaN,0.000,13663.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13663.0
191,7,2017,2,NaN,3.120000,NaN,0.000,14303.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14303.0
192,7,2017,3,NaN,3.136000,NaN,0.000,21736.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,21736.0
193,7,2017,4,NaN,3.379000,NaN,0.000,17929.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,17929.0
194,7,2017,5,NaN,3.460000,NaN,0.000,15656.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15656.0
195,7,2017,6,NaN,3.262000,NaN,0.000,15054.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15054.0
196,7,2017,7,NaN,3.339000,NaN,0.000,12479.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,12479.0
197,7,2017,8,NaN,3.155000,NaN,0.000,23994.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,23994.0
198,7,2017,9,NaN,3.340000,NaN,0.000,13700.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13700.0
199,7,2017,10,NaN,3.120000,NaN,0.000,18633.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,18633.0
200,7,2017,11,NaN,3.267000,NaN,0.000,11861.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,11861.0
201,7,2017,12,NaN,3.034000,NaN,0.000,14265.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14265.0
202,7,2018,1,NaN,3.973000,NaN,NaN,14592.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14592.0
203,7,2018,2,NaN,2.932000,NaN,NaN,13210.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,13210.0
204,7,2018,3,NaN,2.898000,NaN,NaN,15185.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15185.0
205,7,2018,4,NaN,2.928000,NaN,NaN,30310.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,30310.0
206,7,2018,5,NaN,3.070000,NaN,NaN,14592.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14592.0
207,7,2018,6,NaN,3.202000,NaN,NaN,14203.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14203.0
208,7,2018,7,NaN,3.053000,NaN,NaN,15211.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15211.0
209,7,2018,8,NaN,3.165000,NaN,NaN,14698.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14698.0
210,7,2018,9,NaN,3.132000,NaN,NaN,14423.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14423.0
211,7,2018,10,NaN,3.410000,NaN,NaN,14775.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,14775.0
212,7,2018,11,NaN,4.248000,NaN,NaN,11986.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,11986.0
213,7,2018,12,NaN,4.060000,NaN,NaN,15692.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gas,15692.0

In [65]:
fuel_cost_generation.to_csv('../Output/CSVs/pudl_cost_generation.csv', index=False)